body {
	font-family: 'Raleway', sans-serif;
	margin: 0em 3em;  /*Margen necesario para que no toque los bordes*/
	margin-top:-1em; /*Esto lo uso para contraarrestar el uso del contador invisible en la parte superior de la web */
	background-image: url("images/fondo.jpg");
	background-size: cover;
	height:100%;
	line-height:1.5em;
}

a {
    text-decoration: none;
    color:blue;
}

#title { /*Título*/
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  text-align: center;
}
#whitediv { /*Div para poner el fondo blanco debajo de donde hay texto */
	background-color: white;
	height:100%;
	padding:15px; /*Para que no se pegue a los bordes las letras y el blanco */
}

.hrefsincol {
	color:blue;
}

/*Tabla de estadisticas */
#TbEst {
    border-spacing: 0; 
	box-shadow: 0 1px 1px #ccc;
}
#TbEst th:first-child { /*Los th son para dar bordes arriba*/
    border-radius: 6px 0 0 0;
}

#TbEst th:last-child {
    border-radius: 0 6px 0 0;
}

#TbEst th:only-child{
    border-radius: 6px 6px 0 0;
}

#TbEst tr:hover {  /* Color que tiene cuando pones el cursor encima */
  background: #fbf8e9;
  transition: all 0.1s ease-in-out;     
} 
#TbEst th { /*Fondo del th, la primera linea*/
	background: #dce9f9;
}

#TbEst td,tr,th { /* Color de los bordes, no puede ser de menos de 1px porque no me deja */
	border:solid #ccc 1px;
}
/*Fin de la tabla de estadísticas*/

/*Los datos para el menu */
#menuhor {
    list-style-type: none;
    margin: 0 -3em 0 -3em; /*Esto "deshace" el margin de la web(body)*/
    padding: 0;
	padding-left:20px; /*Para que el menú no empiece desde el límite */
    overflow: hidden;
    background-color: #333;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
}

#menuhor li {
    float: left;
}

#menuhor li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menuhor li a:hover {
    background-color: #111;
}
/*Fin datos menu*/

/* Menu superior del panel de estadísticas */
#menue{
background-color: #ddd;	
text-align:center;
}
#menue li{
list-style:none;
display: inline;	
padding-right: 15px;
}
#menue li a {
    color: black;
    text-decoration: none;
}
/* Fin menu superior del panel de estadísticas */

/* Formularios bonitos */
.textT {
text-align:right;font-size:13px;font-weight: bold;color:#222
}
.btn {
color: #fff;
background-color: #428bca;
border-color: #357ebd;
display: inline-block;
text-align: center;
//vertical-align: middle;
margin-top: 5px;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
}

input[type=text],input[type=password], textarea {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
 
input[type=text]:focus,input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

/* Fin formularios bonitos */